* { 
    margin:0; 
    padding:0; 
    border:0; 
    box-sizing: border-box;
}

html, body {
	height: 100%;
}
.header {
    background-color:#232C33;
    border-bottom: #232C33 4px solid;
    top: repeat-x;
    height:9.5%;
    font-size: 27px;
}

.header_link{
    font-family: 'Signika Negative', sans-serif;
    text-decoration: none;
    color: #E9F1F7;
    position: relative;
    left: 75vh;
    margin: 30px;
}
.a {
    font-family: 'Signika Negative', sans-serif;
    margin: 30px;
}

  .footer{
    text-align: center;
    background-color: #232C33;
    color: #E9F1F7;
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}  
img{
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
    right: 55%;
}

.sauce{
    color: #2a2a2b;
    font-family: 'Signika Negative', sans-serif;
    text-decoration: none;
}
.container {
    display: flex;
    width: 100%;
    height: 79.3%;
}

.column-20 {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
}

.column-80 {
    width: 80%;
    background-color: transparent;
    padding: 20px;
}

.imgpro{
    height: 350px;
    width: 350px;
    position: relative;
    right:730px;
}
.form{
    text-align: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(253, 252, 252, 0.7);
  align-items: center;
  justify-content: center;
}

.popup {
  background: #d2d5d6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.popup-close {
  cursor: pointer;
  position: absolute;
  bottom: 425px;
  right: 455px;
}

@media screen and (max-width: 600px) {
  .popup {
    max-width: 100%;
  }
}
.pismo{
  font-family: 'Signika Negative', sans-serif;
}

input {
  background: #cbcecf;
}

.tlacidlo{
  position: absolute;
  right: 230px;
  top: 350px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: x-large;
  font-family: 'Signika Negative', sans-serif;
}